html {
    height: 100%;
    width: 100%;
  }
  body {
    height: 100vh;
    background: black;
    cursor: url("cursor.png"), auto;
    line-height: 1.6;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  input {
    font-size: 1.5rem;
    cursor: url("text.png"), auto;
    margin-top: 25px;
    background: white;
  }
  .img {
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    background: #1e1e21;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
  }
  img:hover{
    opacity: 0.8;
  }
  a{
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    padding: 10px;
    text-transform: capitalize;
  }
  #results{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-top: 25px;
    flex-wrap: wrap;
  }
  #show-more {
    font-size: 1.5rem;
    cursor: url("tap.png"), auto;
    padding-inline: 20px;
    color: white;
    text-shadow: 0 0 20px white;
    background: deepskyblue;
    border-radius: 50px;
    border: none;
    transition: box-shadow 1s;
    display: none;
  }
  #show-more:hover {
    box-shadow: 0 0 50px deepskyblue;
  }
  form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  @media screen and (max-width: 768px) {
    .img{
      width: 45%;
    }
    .img{
      padding: 20px;
    }
  }
  @media screen and (max-width: 480px) {
    .img{
      width: 100%;
    }
  }
  ::-webkit-scrollbar{
    width: 15px;
  }
  ::-webkit-scrollbar-track{
    background: black;
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg,red,blue);
    border-radius: 50px;
  }